# Data Science Tools and Ecosystem

**Objectives:**
* List popular languages for Data Science
* List Commonly used libraries for Data Science
* List Data Science tools

In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Keras

| Data Science Tools |
|----------|
| Jupyter Notebook  | 
|  Rstudio  |
| Visual studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ismail Allouch